.chat {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

:host {
  height: 90%;
  width: 80%;
}

.message-form {
  display: flex;
  gap: 5px;
}

.message-form input {
  width: 70%;
}

.message-form button {
  width: 30%;
  padding: 10px;
  background-color: green;
  color: white;
  border: none;
  font-size: 16px;
}

.message-form button:hover {
  background-color: darkgreen;
}

.messages {
  overflow: auto;
  max-height: 100%;
  display: flex;
  flex-direction: column-reverse;
}

.messages > div {
  margin-top: 2px;
  margin-bottom: 2px;
}


